.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.plan.json
backend.hcl
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
